* {
    background-color: aquamarine;
}

.self-image {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    display: box;
    background-size: cover;
    background-position: center;
}

.About-Me, .Work, .Contact-Me{
    flex-direction: column;
}

.self-img {
    display: block;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.work-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 500px;
    flex: 1 0 0;
    text-align: center;
}

.work-img-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-height: 500px;
    max-width: 900px;
    flex: 1 0 0;
    text-align: center;
}

h1, h2, li, p {
    text-align: center;
    display: block;
}

ul {
    text-align: center;
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
      }
}
